<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Pentaho User Groups | Pentaho Community</title>
  <meta name="description" content="This is the place to find information about Pentaho User Groups. Check this list to see if there is a PUG near you.">
  <meta name="viewport" content="width=device-width">
  <link rel="shortcut icon" href="../img/favicon.png" type="image/png">
  <link rel="stylesheet" href="../css/bootstrap.css">

  <link rel="stylesheet" href="../css/bootstrap-theme.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/cbpScroller.css">
  <link rel="stylesheet" href="../css/master.css">

  <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
  <script src="../js/userGroups/app.js"></script>
</head>

<body id="pentahoHome" ng-app="userGroupsApp" class="user-groups">

  <div class="header-container"></div>

  <div class="backPageGrey cbp-so-scroller user-groups" id="cbp-so-scroller">

    <!-- carousel -->
    <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
      <!-- Wrapper for slides -->
      <div class="">
        <div class=" active">
          <div class="site-container cbp-so-section" id="containerHeader">
            <!-- Example row of columns -->
            <div class="row">
              <div class="col-xs-6 col-lg-6 cbp-so-side cbp-so-side-left">
                <h1 class="product">Pentaho User Groups</h1>
                <p>This is the place to find information about Pentaho User Groups. Check the list below to see if there is a PUG near you. Get in touch to add your PUG here.</p>
                <p class="large-button"><a class="btn btn-default btn-header" href="mailto:community@pentaho.com">Contact us</a></p>
              </div>
              <div class="col-xs-6 col-lg-6 cbp-so-side cbp-so-side-right">
                <img src="../img/user-groups-header.png" alt="">
                <p class="small-button-green">
                  <a class="btn btn-default btn-header" href="mailto:community@pentaho.com">Contact us</a>
                </p>
              </div>
            </div>
          </div>
          <!-- /container -->
        </div>
        <!--<div class="item" id="pentaho-day-2015-item">
            <div class="container cbp-so-section" id="containerHeader">
              <div class="row">
                <div class="col-lg-6 cbp-so-side cbp-so-side-left">
                  <h1>2015<br>Pentaho Day<br>Brasil</h1>
                  <a class="large-button" href="http://www.pentahobrasil.com.br/eventos/pentahoday2015/" target="_blank" style="min-width: 0;"><span class="btn btn-default btn-header">Learn More<img src="../img/arrow-right-green.png"></span></a>
                </div>
                <div class="col-lg-6 cbp-so-side cbp-so-side-right event-banner">
                  <img class="hidden-lg" src="../img/pentaho-day-2015-banner.png" alt="">
                  <a class="small-button-green" href="http://www.pentahobrasil.com.br/eventos/pentahoday2015/" target="_blank"><span class="btn btn-default btn-header">Learn More<img src="../img/arrow-right-green.png"></span></a>
                </div>
              </div>
            </div>
          </div>-->
        <!--<div class="item" id="training-bigdata-sparkl-item">
            <div class="container cbp-so-section" id="containerHeader">
              <div class="row">
                <div class="col-lg-6 cbp-so-side cbp-so-side-left">
                  <h1>Training<br>Big Data + Sparkl</h1>
                  <p>By Pedro Alves</p>
                  <a class="large-button" href="http://www.webdetails.pt/treinamento-big-data-sparkl/" target="_blank" style="min-width: 0;"><span class="btn btn-default btn-header">Learn More<img src="../img/arrow-right-green.png"></span></a>
                </div>
                <div class="col-lg-6 cbp-so-side cbp-so-side-right event-banner">
                  <img class="hidden-lg" src="../img/training-bigdata-sparkl-banner.png" alt="">
                  <a class="small-button-green" href="http://www.webdetails.pt/treinamento-big-data-sparkl/" target="_blank"><span class="btn btn-default btn-header">Learn More<img src="../img/arrow-right-green.png"></span></a>
                </div>
              </div>
            </div>
          </div>-->
        <!-- SPECIAL HEADER
          <div class="item" style="background-color: #fff; padding-top: 0; padding-bottom: 32px;" id="item-highlight-header-pcm14" onclick="window.open('http://pcm14.know.bi/');" title="Pentaho Community Meeting">
            <img src="../img/pcm14-banner.svg" alt="">
          </div> -->
      </div>

      <!-- Indicators -->
      <ol class="carousel-indicators" style="display: none;">
        <!--<li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
          <li data-target="#header-carousel" data-slide-to="2"></li>-->
      </ol>
    </div>


    <div class="whiteContainerBack">

      <div class="site-container whiteContainer">
        <div class="row userGroups-list">
          <div class="col-xs-12">
          <div id="myCarousel" class="carousel slide">
            <ol class="carousel-indicators" style="display: none;">
            </ol>
            <!-- Carousel items -->
            <div class="carousel-inner pluginPage">
              <div class="active " id="plugin-description" ng-controller="userGroupsCtrl">
                <div class="row">
                  <div class="col-sm-9">
                    <h3>Be part of the Pentaho Community</h3>
                  </div>
                  <div class="col-sm-3">
                    <div class="dropdown" ng-cloak>
                      <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                        <span>{{selectedCountry}}</span>
                        <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                        <li role="presentation" data-ng-repeat="country in countries | orderBy : country" data-ng-click="selectCountry(country)" data-ng-class="{selected: country === selectedCountry}">
                          <a>{{country}}</a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="row" ng-cloak>
                  <div class="col-md-3" ng-repeat="group in userGroups | filter:customCountriesFilter | orderBy:'membersNum':true">
                    <div class="userGroup-container">
                      <a ng-href="{{ group.groupUrl }}" class="userGroup-link" target="_blank" title="{{ group.name }}">
                        <div class="userGroup">
                          <div class="userGroup-name">{{ group.name }}</div>
                          <div class="userGroup-location">
                            <div class="userGroup-address" style="background-image: url('../img/flags/{{group.country}}.svg');">{{ group.city }}, {{ group.country }}</div>
                          </div>
                        </div>
                      </a>
                      <div class="userGroup-memberArea clearfix">
                        <div class="userGroup-members pull-left">
                          <span class="userGroup-membersNum">{{ group.membersNum }}</span>
                          <span> Members</span>
                        </div>
                        <div class="userGroup-join pull-right">
                          <!-- <a class="btn btn-green" ng-href="{{ group.joinUrl }}" target="_blank" title="Join {{ group.name }}">Join</a> -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row text-center newLanguage background-grey" style="margin-bottom: 0px; margin-top: 0;" id="startNewLang">
                  <div class="col-lg-8">
                    <p class="txt-greyArea">Advertise your Pentaho event or User Group here.</p>
                  </div>
                  <div class="col-lg-4">
                    <a class="link-row" href="mailto:community@pentaho.com" id="getStartedPropose" target="_blank">Contact us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="helpImproveWrapper">
      <div class="helpImprove">
        <div class="col-md-7 col-sm-12">
          <p>Help us improve this website. Send your feedback to <a href="mailto:community@pentaho.com" class="footer-link">community@pentaho.com</a></p>
        </div>
        <div class="col-md-5 col-sm-12">
          <section class="footer-social-wrapper">
            <div class="region region-footer-social">
                <div class="content text-right">
                  <a class="footer-social-item youtube" href="https://www.youtube.com/user/pentaho" target="_blank"></a>
                  <a class="footer-social-item gplus" href="https://plus.google.com/+Pentahocorporation/posts" target="_blank"></a>
                  <a class="footer-social-item twitter" href="http://twitter.com/Pentaho" target="_blank"></a>
                  <a class="footer-social-item facebook" href="http://www.facebook.com/pentaho" target="_blank"></a>
                  <a class="footer-social-item linkedin" href="http://www.linkedin.com/company/pentaho" target="_blank"></a>
                  <a class="footer-social-item rss-feed" href="http://www.pentaho.com/blog"></a>
                </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
  <script>
    window.jQuery || document.write('<script src="../js/vendor/jquery-1.10.1.min.js"><\/script>')
  </script>

  <script src="../js/vendor/bootstrap.min.js"></script>

  <script src="../js/main.js"></script>
  <script src="../js/classie.js"></script>
  <script src="../js/twitter-bootstrap-hover-dropdown.js"></script>
  <script src="../js/master.js"></script>
  <script type="text/javascript">
    jQuery(document).ready(function($) {
      $('#tabs').tab();

      $('.header-container').load('../pentaho-templates/header.html');
    });
  </script>

  <script>
    var _gaq = [
      ['_setAccount', 'UA-1507503-9'],
      ['_trackPageview']
    ];
    (function(d, t) {
      var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
      g.src = '//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s)
    }(document, 'script'));
  </script>
</body>

</html>
