<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Pentaho User Groups | Pentaho Community</title>
        <meta name="description" content="This is the place to find information about Pentaho User Groups. Check this list to see if there is a PUG near you.">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="../css/bootstrap.css">
        <style>
            body {
                padding: 30px 0px;
            }
        </style>
        <link rel="stylesheet" href="../css/bootstrap-theme.css">
        <link rel="stylesheet" href="../css/main.css">
        <link rel="stylesheet" href="../css/cbpScroller.css">

        <script src="../js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
        <script src="../js/userGroups/app.js"></script>
    </head>
    <body id="pentahoHome" ng-app="userGroupsApp">
    
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="http://www.pentaho.com/"><img src="../img/logo-pentaho.svg"></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="dropdown active">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true">Community <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../">Home</a></li>
              <li class="active"><a href="">Pentaho User Groups</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true">Marketplace <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../marketplace/language-packs">Plugins</a></li>
              <li><a href="../marketplace/language-packs">Language Packs</a></li>
              <li><a href="../marketplace/project-maturity-classification">Project Maturity Classification</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="0" data-close-others="true">Projects <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="../projects/mondrian">Mondrian</a></li>
              <li><a href="../projects/data-integration">Data Integration</a></li>
              <li><a href="../projects/reporting">Reporting</a></li>
              <li><a href="../projects/data-mining">Data Mining</a></li>
              <li><a href="../projects/sparkl">Sparkl</a></li>
            </ul>
          </li>
          <li><a target="_blank" class="btn btn-default btn-blue" id="tryPentaho" href="http://www.pentaho.com/testdrive">Try Pentaho EE</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </nav>

    <div class="backPage cbp-so-scroller" id="cbp-so-scroller">
      
      <!-- carousel -->
      <div id="header-carousel" class="carousel slide" data-ride="carousel" data-interval="10000">
        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <div class="container cbp-so-section" id="containerHeader">
              <!-- Example row of columns -->
              <div class="row">
                <div class="col-lg-6 cbp-so-side cbp-so-side-left">
                  <h1>Pentaho User Groups</h1>
                  <p>This is the place to find information about Pentaho User Groups. Check the list below to see if there is a PUG near you. Get in touch to add your PUG here.</p>
                  <p class="large-button"><a class="btn btn-default btn-header" href="mailto:lead@webdetails.pt">Contact us<img src="../img/arrow-right-green.svg" onerror="this.onerror=null; this.src='../img/arrow-right-green.png'"></a></p>
                </div>
                <div class="col-lg-6 cbp-so-side cbp-so-side-right">
                  <img src="../img/user-groups-header.png" alt="">
                  <p class="small-button-green"><span class="btn btn-default btn-header" href="mailto:lead@webdetails.pt">Contact us<img src="../img/arrow-right-green.svg" onerror="this.onerror=null; this.src='../img/arrow-right-green.png'"></span></p>
                </div>
              </div>
            </div> <!-- /container -->  
          </div>
          <div class="item" id="pentaho-day-2015-item">
            <div class="container cbp-so-section" id="containerHeader">
              <!-- Example row of columns -->
              <div class="row">
                <div class="col-lg-6 cbp-so-side cbp-so-side-left">
                  <h1>2015<br>Pentaho Day<br>Brasil</h1>
                  <a class="large-button" href="http://www.pentahobrasil.com.br/eventos/pentahoday2015/" target="_blank" style="min-width: 0;"><span class="btn btn-default btn-header">Learn More<img src="../img/arrow-right-green.png"></span></a>
                </div>
                <div class="col-lg-6 cbp-so-side cbp-so-side-right event-banner">
                  <img class="hidden-lg" src="img/pentaho-day-2015-banner.png" alt="">
                  <a class="small-button-green" href="http://www.pentahobrasil.com.br/eventos/pentahoday2015/" target="_blank"><span class="btn btn-default btn-header">Learn More<img src="../img/arrow-right-green.png"></span></a>
                </div>
              </div>
            </div> <!-- /container -->  
          </div>
          <!-- SPECIAL HEADER
          <div class="item" style="background-color: #fff; padding-top: 0; padding-bottom: 32px;" id="item-highlight-header-pcm14" onclick="window.open('http://pcm14.know.bi/');" title="Pentaho Community Meeting">
            <img src="../img/pcm14-banner.svg" alt="">
          </div> -->
        </div>

        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#header-carousel" data-slide-to="0" class="active"></li>
          <li data-target="#header-carousel" data-slide-to="1"></li>
        </ol>
      </div>

      <div class="hr" style="margin-top: -5px;"></div>
      <div class="lightContainerBack">
        <div class="clear"></div>
        <div class="container lightContainer">
          <div class="row userGroups-list">
            <div id="myCarousel" class="carousel slide">
              <ol class="carousel-indicators">
              </ol>
              <!-- Carousel items -->
              <div class="carousel-inner pluginPage" style="padding-bottom: 30px; overflow: visible;">
                <div class="active item" id="plugin-description" ng-controller="userGroupsCtrl">
                  <div class="row">
                    <div class="col-sm-9">
                      <h5>Be part of the Pentaho Community</h5>
                    </div>
                    <div class="col-sm-3">
                      <div class="dropdown" ng-cloak>
                        <button class="btn btn-default dropdown-toggle btn-block" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                          <span>{{selectedCountry}}</span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                          <li role="presentation" 
                              data-ng-repeat="country in countries | orderBy : country"
                              data-ng-click="selectCountry(country)"
                              data-ng-class="{selected: country === selectedCountry}">
                            <a>{{country}}</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row" ng-cloak>
                    <div class="col-md-4" ng-repeat="group in userGroups | filter:customCountriesFilter | orderBy:'membersNum':true">
                      <div class="userGroup-container">
                        <a ng-href="{{ group.groupUrl }}" class="userGroup-link" target="_blank" title="{{ group.name }}">
                          <div class="userGroup">
                            <div class="userGroup-name">{{ group.name }}</div>
                            <div class="userGroup-location clearfix">
                              <div class="userGroup-flag pull-left"></div>
                              <div class="userGroup-address pull-left"><img ng-src="../img/flags/{{group.country}}.svg" fall-back-src="../img/flags/{{group.country}}.png" alt="USA"><span>{{ group.city }}, {{ group.country }}</span></div>
                            </div>
                          </div>
                        </a>                        
                        <div class="userGroup-memberArea clearfix">
                          <div class="userGroup-members pull-left">
                            <span class="userGroup-membersNum">{{ group.membersNum }}</span><span> Members</span>
                          </div>
                          <div class="userGroup-join pull-right">
                            <a class="btn btn-green" ng-href="{{ group.joinUrl }}" target="_blank" title="Join {{ group.name }}">Join</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                  
                  <div class="row text-center newLanguage background-grey" style="margin-bottom: 30px; margin-top: 0;" id="startNewLang">
                    <div class="col-lg-8">
                      <p class="txt-greyArea">Advertise your Pentaho event or User Group here.</p>
                    </div>
                    <div class="col-lg-4">
                      <a class="link-row" href="mailto:lead@webdetails.pt" id="getStartedPropose" target="_blank">Contact us<img src="../img/arrow-right-green.svg" onerror="this.onerror=null; this.src='../img/arrow-right-green.png'"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>   
          </div>
        </div>
      </div>
      <div class="helpImprove">Help us improve this website. Send your feedback to <a href="mailto:community@pentaho.com">community@pentaho.com</a></div>
    </div>      

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="../js/vendor/jquery-1.10.1.min.js"><\/script>')</script>

        <script src="../js/vendor/bootstrap.min.js"></script>

        <script src="../js/main.js"></script>
        <script src="../js/classie.js"></script>
        <script src="../js/twitter-bootstrap-hover-dropdown.js"></script>

        <script type="text/javascript">
            jQuery(document).ready(function ($) {
                $('#tabs').tab();
            });
        </script> 

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
